#fuzzyai-upsell 
  .content 
    span.close &times;
    h2.title
    .row
      .left 
        .image 
          img(src="")
      .right
        p Would you like to buy <span class="name"></span> for <span class="price"></span>?
        .description
        p 
          button.btn Add to Cart 
  
