link(rel="stylesheet" type="text/css" href=appUrl + '/css/upsell.css')
script.
  window.FuzzyAi = window.FuzzyAi === undefined ? {} : FuzzyAi;
  FuzzyAi.ApiRoot = '#{appUrl}';
  {% assign t = template | prepend: '/' | append: '.' %}
  {% if customer %}FuzzyAi.customer = { id: {{ customer.id }} }{% endif %}
  {% assign t = template | prepend: '/' | append: '.' %}
  {% if t contains '/product.' %}FuzzyAi.product = { id: "{{ product.id }}"};
  {% else if t contains '/cart.' %}FuzzyAi.inCart = true;
  {% endif %}
