doctype html 
html 
  head 
    meta(charset="utf-8")
    title Fuzzy.ai Shopify
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="/js/track.js")
  body
