doctype html 
html 
  head 
    meta(charset="utf-8")
    title Fuzzy.ai Shopify
    link(rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/1.0.0/polaris.min.css")
  body 
    .Polaris-Layout
      .Polaris-Layout__Section
        .Polaris-Card
          block content
    
    block javascript
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="https://cdn.shopify.com/s/assets/external/app.js")
      script(type="text/javascript").
        ShopifyApp.init({
          apiKey: "#{apiKey}",
          shopOrigin: "https://#{shop.url}",
          debug: true,
          forceRedirect: true
        });      
      
