extends layout

block append javascript
  script.
    window.mainPageTitle = 'Settings';
    ShopifyApp.ready(function(){
      $("#advanced-settings").click(function(e) {
        var height = $('.Polaris-Collapsible').height();
        if (height > 0) {
          $('.Polaris-Collapsible').toggleClass('Polaris-Collapsible--open').height(0);
        } else {
          $('.Polaris-Collapsible').toggleClass('Polaris-Collapsible--open').height('auto');
        }
      });
      $('#settings-form').submit(function(e) {
        e.preventDefault();
        $.ajax({
          url: "/settings",
          type: 'POST',
          data: $('form').serialize(),
          success: function(data) {
            $('#fuzzyKey').val(data.shop.api_key);
            $('#showAgentID').val(data.shop.showAgentID);
            $('#recommendAgentID').val(data.shop.recommendAgentID);
            ShopifyApp.flashNotice("Settings Saved Successfully");
          },
          error: function() { 
            ShopifyApp.flashError('Warning: Settings Save failed');
          }
        });
      });
    });

block content
  .Polaris-Card__Header
    h2.Polaris-Heading Settings
  .Polaris-Card__Section
    .Polaris-FormLayout
      form(method="post" action="/settings" id="settings-form")
        .Polaris-FormLayout__Item 
          | Get your API Key from your dashboard when you sign up at 
          a(href='https://fuzzy.ai/signup') https://fuzzy.ai/signup
          | .
        .Polaris-FormLayout__Item
          .Polaris-Labelled__LabelWrapper
            .Polaris-Label
              label.Polaris-Label__Text Fuzzy.ai API Key
            .Polaris-TextField
              input(type="text" name="fuzzyKey" id="fuzzyKey" class="Polaris-TextField__Input" value=shop.api_key placeholder="Copy your API Key from https://fuzzy.ai/")
              .Polaris-TextField__Backdrop
        .Polaris-FormLayout__Item
          button(type="button" class="Polaris-Button" id="advanced-settings")
            span.Polaris-Button__Content
              span Advanced Settings 
          .Polaris-Collapsible.Polaris-Collapsible--animating
            .Polaris-FormLayout__Item
              .Polaris-Labelled__LabelWrapper
                .Polaris-Label
                  label.Polaris-Label__Text Show Agent ID
                .Polaris-TextField
                  input(type="text" name="showAgentID" id="showAgentID" class="Polaris-TextField__Input" value=shop.showAgentID)
                  .Polaris-TextField__Backdrop

            .Polaris-FormLayout__Item
              .Polaris-Labelled__LabelWrapper
                .Polaris-Label
                  label.Polaris-Label__Text Recommend Agent ID
                .Polaris-TextField
                  input(type="text" name="recommendAgentID" id="recommendAgentID" class="Polaris-TextField__Input" value=shop.recommendAgentID)
                  .Polaris-TextField__Backdrop

        .Polaris-FormLayout__Item
          .Polaris-ButtonGroup
            .Polaris-ButtonGroup__Item
              button(type="submit" class="Polaris-Button Polaris-Button--primary") 
                span.Polaris-Button__Content Save
