#fuzzyai-upsell  {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#fuzzyai-upsell .content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    clear: both;
}

#fuzzyai-upsell .row {
  clear: both;
  position: relative;
  height: auto;
}

#fuzzyai-upsell .row:after {
  content: "";
  display: table;
  clear: both;
}

#fuzzyai-upsell .left {
  width: 48%;
  float: left;
}

#fuzzyai-upsell .right {
  width: 50%;
  margin-left: 50%;
}

#fuzzyai-upsell .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#fuzzyai-upsell .close:hover,
#fuzzyai-upsell .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#fuzzyai-upsell .name,
#fuzzyai-upsell .price {
  font-weight: bold;
}
